        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        h1 {
            position: absolute;
            left: 120px;
            top: 0%;
            line-height: 80px;
            color: rgb(38, 82, 139);
            font-size: 36px;
            text-align: center;
        }
        h2 {
            color: red;
            font-size: 24px;
            margin-top: 0%;
            text-align: center
        }
        p {
            color: black;
            font-size: 18px;
            line-height: 1.6;
            text-align: center
        }
        ul {
            list-style-type: none;
            padding: 0;
            text-align: center;
            

            
        }
        img {
            display: block;
            margin: 0 auto;
            width: 300px;
            height: auto;
        }
        ol {
            list-style-type: circle;
            padding-left: 48%;
            text-align: left;   
        }
        header {
            height: 80px;
            width: 100%;
            padding: 0;
            background-color: rgb(202, 242, 243)
        }
        header ul {
            position: absolute;
            right: 5vw;
            top: 0;
            line-height: 80px;
            
        }
        header li {
            display: inline;
            margin-right: 4vw;
        }
        header a {
            font-size: 20px;
            text-decoration: none;
            color: black;
        }
        header a:hover {
            text-decoration: underline;
            color: black;
        }
        main {
            margin: 20px auto;
            padding: 5%;
            background-color: rgb(202, 242, 243);
        }
        footer {
            text-align: center;
            padding: 10px;
            background-color: rgb(202, 242, 243);
            position: relative;
            bottom: 0;
            width: 100%;
        }